<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Cloud Storage</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>dropbox</string>
			<key>Key</key>
			<string>dropbox_preference</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>In-App Purchase</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>cards</string>
			<key>IASKUITextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Key</key>
			<string>Collections_ID</string>
			<key>Title</key>
			<string>Purchase Collections</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>download</string>
			<key>IASKUITextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Key</key>
			<string>restore_purchases</string>
			<key>Title</key>
			<string>Restore Purchases</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Decktracker</string>
			<key>Key</key>
			<string>name</string>
			<key>Title</key>
			<string>Name</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.4.7</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Jovito Royeca</string>
			<key>Key</key>
			<string>developer</string>
			<key>Title</key>
			<string>Developer</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Key</key>
			<string>acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
