<!-- feature Section Start -->
  <section id="features">
    <div class="container">
      <div class="row">
        <h1 class="title-small wow tada">There is an App for that</h1>
        <div class="col-md-12 text-center">
          <a class="btn btn-border btn-lg wow fadeInRight animated" data-wow-offset="10" href="https://itunes.apple.com/us/app/decktracker/id913992761?mt=8" target="_blank""><i class="fa fa-apple"></i>iPhone</a>
          <a class="btn btn-border btn-lg wow fadeInLeft animated" data-wow-offset="10" href="#"><i class="fa fa-android"></i> Android soon...</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-heart-o"></i>
              </span>
              <div class="text">
                <h4>From Alpha to The Latest Set</h4>
                <p>The 28,000+ database includes cards from Alpha to the latest set.</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-file-text-o"></i>
              </span>
              <div class="text">
                <h4>Advance Search Functions</h4>
                <p>You can easily find the card you are looking with advance search filters.</p>
              </div>
            </div>
            <div class="box-item left">
              <span class="icon">
                <i class="fa fa-folder-open"></i>
              </span>
              <div class="text">
                <h4>Deck Builder</h4>
                <p>Create and manage your decks with the included Deck builder.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="show-box wow fadeInDown animated" data-wow-offset="10">
            <img src="assets/img/features/iPhone.png" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-power-off"></i>
              </span>
              <div class="text">
                <h4>Realm Database</h4>
                <p>The internal database is powered by the advance Realm mobile database.</p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
              <div class="text">
                <h4>Parse.com Backend</h4>
                <p>User data is saved in the cloud via the Parse.com backend.</p>
              </div>
            </div>
            <div class="box-item right">
              <span class="icon">
                <i class="fa fa-lightbulb-o"></i>
              </span>
              <div class="text">
                <h4>Updated Card Pricing</h4>
                <p>Card pricing is continuously updated and provided by TCGPlayer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>