<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decktracker
  <% if (title.length > 0) { %>
  	- <%= title %></title>
  <% } %>
  </title>

  <link rel="shortcut icon" href="assets/img/icons/favicon.ico">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">

  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  <!--Icon Font-->
  <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css" />


  <!-- Extras -->
  <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">


  <!-- jQuery Load -->
  <script src="assets/js/jquery-min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  
  <!-- My Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/mystyle.css">
  
  <!-- Setup Parse -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  <script>
//     dev
//     Parse.initialize("mKMQ9Hl7eGJJIwWb77WYyLfr7GpvsmuNKgGRRZyR", "YCphnlQGSSAZnQYtZeDhvSz5aRj0djOi0zr2k4GZ");
    
//     production 
    Parse.initialize("gWQ4zjHnoXHJK15ipFVgWLUSA979mqHaZ7sOlPU9", "c2IvVJIhJBCDFQcZtoEgST8g4SfmAvWRxdYoHJ3v");
    
  </script>
  
  <style>
#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background:#369;
   color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}
</style>
      
</head>

<body>
  <!-- Nav Menu Section -->
  <div class="logo-menu">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="assets/img/icons/AppIcon32x32-white.png"/> Decktracker</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav pull-right">
            <% if (navbar == "1") { %>
            <li class='active'>
            <% } else { %>
            <li>
            <% } %>
            	<a href="/">Home</a>
            </li>
            <% if (navbar == "2") { %>
            <li class='active'>
            <% } else { %>
            <li>
            <% } %>
            	<a href="cards">Cards</a>
            </li>
            <% if (navbar == "3") { %>
            <li class='active'>
            <% } else { %>
            <li>
            <% } %>
            	<a href="decks">Decks</a>
            </li>
            <% if (navbar == "4") { %>
            <li class='active'>
            <% } else { %>
            <li>
            <% } %>
            	<a href="cardquiz">Card Quiz</a>
            </li>
            <% if (!Parse.User.current()) { %>
          	<% if (navbar == "5") { %>
            <li class='active'>
            <% } else { %>
            <li>
            <% } %>
            	<a href="sign-in">Sign In</a>
            </li>
        	<% } else { %>
          	<li>
            	Hi <%= Parse.User.current().get('username') %>
            	<form action="/logout" method="post">
                  <a href="#" onclick="$(this).closest('form').submit()">Logout</a>
            	</form>
          	</li>
        	<% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Nav Menu Section End -->
  
  <%- body %>
  
  <section id="bottom">
    <div class="container">
      <div class="row">
      	<div class="col-md-3 col-sm-3 col-xs-12">
      	  <h4>Copyright</h4>
      	  <ul>
            <li style="color: #aaa;">
            	(c) Jovito Royeca
            </li>
            <li style="color: #aaa;">
            	All Rights Reserved.</a>
            </li>
            <li style="color: #aaa;">
            	<a style="color: #aaa;" href="http://jovitoroyeca.com" target="_blank">http://jovitoroyeca.com</a>
            </li>
          </ul>	
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4>Security</h4>
          <ul>
            <li>
            	<img src="/assets/img/RapidSSL_SEAL-90x50.gif"/>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4>Social Media</h4>	
          <ul>
            <li>
            	<a class="social" href="https://www.facebook.com/mtgdecktracker" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4>Downloads</h4>
          <ul>
            <li>
            	<a href="https://itunes.apple.com/us/app/decktracker/id913992761?mt=8" target="_blank"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" /></a>
            </li>
          </ul>
        </div>
      </div>
      <div>
          <small style="color: #aaa;font-size: 0.6em;">
          	The information presented on this website and its companion mobile applications about <b>Magic: The Gathering</b>, both literal and graphical, is copyrighted by Wizards of the Coast.<br>
		  	This website and its companion mobile applications are not produced, endorsed, supported, or affiliated with Wizards of the Coast.
		  </small>
		  <p>&nbsp;</p>
	  </div>
    </div>
  </section>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.js"></script>
  <!-- WOW JS plugin for animation -->
  <script src="assets/js/wow.js"></script>
  <!-- All JS plugin Triggers -->
  <script src="assets/js/main.js"></script>
</body>
</html>