<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>StringsTable</key>
<string>Acknowledgements</string>
<key>PreferenceSpecifiers</key>
<array>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>AFNetworking-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>AFNetworking</string>
<key>Key</key>
<string>AFNetworking</string>
<key>DefaultValue</key>
<string>AFNetworking</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>Box-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>Box</string>
<key>Key</key>
<string>Box</string>
<key>DefaultValue</key>
<string>Box</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>CorePlot-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>CorePlot</string>
<key>Key</key>
<string>CorePlot</string>
<key>DefaultValue</key>
<string>CorePlot</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>Dropbox-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>Dropbox</string>
<key>Key</key>
<string>Dropbox</string>
<key>DefaultValue</key>
<string>Dropbox</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>FCCircularProgressView-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>FCCircularProgressView</string>
<key>Key</key>
<string>FCCircularProgressView</string>
<key>DefaultValue</key>
<string>FCCircularProgressView</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>InAppSettingsKit-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>InAppSettingsKit</string>
<key>Key</key>
<string>InAppSettingsKit</string>
<key>DefaultValue</key>
<string>InAppSettingsKit</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>MBProgressHUD-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>MBProgressHUD</string>
<key>Key</key>
<string>MBProgressHUD</string>
<key>DefaultValue</key>
<string>MBProgressHUD</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>MTG-Image-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>MTG-Image</string>
<key>Key</key>
<string>MTG-Image</string>
<key>DefaultValue</key>
<string>MTG-Image</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>MTG-JSON-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>MTG-JSON</string>
<key>Key</key>
<string>MTG-JSON</string>
<key>DefaultValue</key>
<string>MTG-JSON</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>MagicalRecord-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>MagicalRecord</string>
<key>Key</key>
<string>MagicalRecord</string>
<key>DefaultValue</key>
<string>MagicalRecord</string>
</dict>
<dict>
<key>Type</key>
<string>PSGroupSpecifier</string>
<key>Title</key>
<string>hpple-software</string>
</dict>
<dict>
<key>Type</key>
<string>IASKCustomViewSpecifier</string>
<key>Title</key>
<string>hpple</string>
<key>Key</key>
<string>hpple</string>
<key>DefaultValue</key>
<string>hpple</string>
</dict>
</array>
</dict>
</plist>
