<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Cloud Storage</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>box</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Box</string>
			<key>Key</key>
			<string>box_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>dropbox</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Key</key>
			<string>dropbox_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>google_drive</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Google Drive</string>
			<key>Key</key>
			<string>google_drive_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>icloud</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>icloud_preference</string>
			<key>Title</key>
			<string>iCloud</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>skydrive</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>skydrive_preference</string>
			<key>Title</key>
			<string>Skydrive</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
