body, td
{
    font-family: Helvetica;
    font-size: 12pt;
}

html, body
{
    height: 100%;
}

.img_center
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.td_circle
{
    width:393px;
    height:400px;
    background-image: url('../images/Card_Circles.png');
    background-repeat:no-repeat;
    background-size:393px 400px;
}

@font-face
{
    font-family: Magic;
    src: url('../fonts/Goudy Medieval.ttf');
}

@font-face
{
    font-family: Matrix;
    src: url('../fonts/Matrix Bold.ttf');
}

@font-face
{
    font-family: MPlantin;
    src: url('../fonts/MPlantin.ttf');
}

.heading
{
    font-family: Magic;
    font-size: 30pt;
    color: #ffffff;
}

.cardNameEightEdition
{
    font-family: Matrix;
    font-size: 16pt;
}



