body, td
{
    font-family: Helvetica;
    font-size: 12pt;
}

html, body
{
    height: 100%;
}

.img_center
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@font-face
{
    font-family: MPlantin;
    src: url(MPlantin.ttf);
}

.detailHeader
{
    font-family: Helvetica;
    font-size: 12pt;
    font-weight: bold;
}

.originalText
{
    font-family : MPlantin;
    font-size: 12pt;
}

.flavorText
{
    font-family : "Times New Roman";
    font-style: italic;
    font-size: 12pt;
}