body, td
{
    font-family: Helvetica;
    font-size: 12pt;
}

html, body
{
    height: 100%;
}

.img_center
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@font-face
{
    font-family: Magic;
    src: url('Goudy Medieval.ttf');
}

@font-face
{
    font-family: Matrix;
    src: url('Matrix Bold.ttf');
}

@font-face
{
    font-family: MPlantin;
    src: url('MPlantin.ttf');
}

.detailHeader
{
    font-family: Helvetica;
    font-size: 12pt;
    font-weight: bold;
}

.originalType
{
    font-family : MPlantin;
    font-size: 14pt;
}

.originalText
{
    font-family : MPlantin;
    font-size: 12pt;
}

.flavorText
{
    font-family : "Times New Roman";
    font-style: italic;
    font-size: 12pt;
}

.textBox
{
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
}

.powerToughness
{
    font-family : MPlantin;
    font-size: 14pt;
    text-align: right;
}