body, td
{
    font-family: Helvetica;
    font-size: 14px;
}

html, body
{
    height: 100%;
}

.img_center
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}